{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-3.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story3 - My Project</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
  <h1>CR</h1>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/story3/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/story3/activities">Activities</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/story3/my_project">My Project<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/story3/about_me">About Me</a>
      </li>
    </ul>
  </div>
</nav>


<div class="d-lg-flex flex-lg-row my-container-1 justify-content-around">
  <div class="p-2 my-project">
      <div class="d-flex flex-column">
          <div class="d-flex flex-row">
              <div class="p-2 logo"></div>
              <div class="p-2 project-name"><a href="https://github.com/radityarestan/Kalku-Ku" target="_blank">Kalku-Ku</a></div>
          </div>
          <div class="p-2 project-desc">
              Kalku-Ku is a new version of the application that I have ever made. 
              I added some feature that was not there before, such as dark mode, sidebar, over 2 number operation, error prevention, etc. 
              I'm using flutter as a framework to develop this app so it's gonna be running on android and ios.
          </div>
      </div>
  </div>
  <div class="p-2 my-project" id="project-coming-soon">Coming Soon</div>
</div>
{% endblock %}