{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-3.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story3 - Home Page</title>
{% endblock %}

{% block body %}
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
      <h1>CR</h1>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/story3/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/story3/activities">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/story3/my_project">My Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/story3/about_me">About Me</a>
          </li>
        </ul>
      </div>
  </nav>

  <div class="d-md-flex flex-md-row justify-content-between my-container-1">
      <div class="d-flex flex-column">
          <div class="p-2 greeting-1">Hello,</div>
          <div class="d-md-flex flex-md-row justify-content-center my-self">
              <div class="p-2 greeting-2">I'm</div>
              <div class="p-2 greeting-2" id="greeting-name">Christian Raditya Restanto</div>
          </div>
        </div>
      <div class="p-2 circle-foto"></div>
  </div>

  <div class="d-flex flex-column justify-content-between my-container-2">
      <div class="d-flex flex-row skill-desc">
          <div class="p-2 skill-desc-1">I'm</div>
          <div class="p-2 skill-desc-2">good</div>
          <div class="p-2 skill-desc-1">at</div>
      </div>

      <div class="d-flex flex-row justify-content-around my-skill">
          <div class="p-2 skill-programming" id="skill-1"></div>
          <div class="p-2 skill-programming" id="skill-2"></div>
          <div class="p-2 skill-programming" id="skill-3"></div>
      </div>

      <div class="message">Created with 💖 by Radit</div>
      
    </div>

    <script>
      var ucapan = ["a Future Software Engineer", "Christian Raditya Restanto"];
      const greet = document.getElementById("greeting-name");
      var i = 0;
      setInterval(function() {
        greet.textContent = ucapan[i];
        if (i === 1) {
          i = 0;
        } else {
          i++;
        }
      }, 3000);
    </script>

{% endblock %}