<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    {% block css %} 
    {% endblock %}

    {% block title %} 
      <title>Cerita aku</title>    
    {% endblock %}

    <style>
      body {
        font-family: 'Montserrat';
      }

      h6 {
        font-size: 10vw;
        text-align: center;
        line-height: 100vh;
      }
    </style>

  </head>
  <body>
    <div class="pos-f-t pl-3 bg-danger">
      
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-3">
          <a href="/story1/" class="p-2 text-light">Story-1</a>
          <a href="/story3/" class="p-2 text-light">Story-3</a>
          <a href="/" class="p-2 text-light">Story-4</a>
          <a href="/story5/" class="p-2 text-light">Story-5</a>
        </div>
      </div>

      <nav class="navbar navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <span class="text-light">My Story</span>
        </button>
      </nav>
  </div>

    
    {% block body %}
    <div>
      <h6>
          THIS IS MY STORY
      </h6>
    </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>