{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-5.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story5 - Home Page</title>
{% endblock %}

{% block body %}
  <div class="blockbody">
    <div class="d-flex flex-row justify-content-center judul">
      <div class="p-2 judul1">Jadwal</div>
      <div class="p-2 judul2">Kuli-ah</div>
    </div>
  
    {% if kumpulan_matkul.count != 0 %}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="result">Mata Kuliah</th>
          <th scope="col" class="result">Jumlah SKS</th>
          <th scope="col" class="result">Dosen</th>
          <th scope="col" class="result">Detail Matkul</th>
          <th scope="col" class="result">Hapus Matkul</th>
        </tr>
      </thead>
      <tbody>
        {% for matkul in kumpulan_matkul %}
        <tr>
          <td class="result">{{matkul.matkul}}</td>
          <td class="result">{{matkul.sks}}</td>
          <td class="result">{{matkul.dosen}}</td>
          <td class="result">
            <a href="detail_matkul/{{matkul.id}}">
                <button type="button" class="btn btn-primary">Detail</button>
            </a>
          </td>
          <td class="result">
            <form action="hapus_matkul/{{matkul.id}}" method="POST" style="display: inline;">
              {% csrf_token %}
              <input type="submit" value="Hapus" class="btn btn-danger">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
  
    <div class="text-center">
      <a href="/story5/isi_matkul">
        <button type="button" class="btn-lg btn-light" style="cursor: pointer;">Tambah Jadwal</button>
      </a>
  </div>
  </div>

{% endblock %}